/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Common Use */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 50px;
}

.flexible-item {
    width: 50%;
    margin-left: 106px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 111px;
}

.banner-text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 50px;
}

.watch-button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    margin-top: 20px;
}

.banner-img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
}


/* Menu Section Start */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 64px;
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.menu a {
    text-decoration: none;
    color: #161616;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}


/* Upcoming Match Section */

.matches-container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 984px;
    height: 508px;
    margin-left: 24px;
}

.match {
    width: 312px;
    height: 242px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.flag-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.flag-text {
    text-align: center;
}

.flag-text h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #161616;
}

.flag-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #4D4D4D;
}


/* Footer Section Start */

.footer-section {
    height: 300px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.footer-section h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
}

hr {
    width: 1320px;
    height: 1px;
    background-color: #FFFFFF1A;
    border: none;
}

.footer-section ul {
    display: flex;
    justify-content: center;
}

.footer-section ul li {
    list-style: none;
}

.footer-section ul li a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    padding: 0 24px;
}